.input {
  padding-top: 1rem;
  background-color: #f1f1f1;
  align-items: center;
  padding-bottom: 10px;
  flex: auto;
  flex-direction: column;
  padding-bottom: 1rem;
}

.formGroup {
  margin-bottom: 3rem;
  overflow: break-word;
}

input[type="text"] {
  clear: both;
  float: right;
  left: 10rem;
  width: 75%;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid black;
}

input[type="Button"] {
  flex: 1;
  flex-direction: row;
  background-color: #077fff;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: solid;
  width: fit-content;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration-color: white;
  border-color: transparent;
  border-right: solid;
}

textarea {
  clear: both;
  float: right;
  left: 10rem;
  width: 75%;
  height: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid black;
  overflow: break-word;
}

#form {
  height: 100%;
  width: 100%;
  padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.btnGroup {
  padding-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
}
