.input {
  padding-top: 1rem;
  background-color: #f1f1f1;
  align-items: center;
  padding-top: 15px;
}

.formGroup {
  margin-bottom: 2rem;
}

input[type="text"] {
  clear: both;
  float: right;
  left: 10rem;
  width: 75%;
  flex-wrap: wrap;
  border-color: black;
  border-width: 1px;

}

input[type="button"] {
  background-color: #077fff;
  color:white;
  text-decoration: none;
  cursor: pointer;
  border: solid;
  width: 9.5%;
  display: block;
  padding: 14px, 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration-color: white;
  border-color: transparent;
}

#form {
  height: 100%;
  width: 100%;
  padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.btnGroup {
  transform: translateX(1%);
  padding-bottom: 1rem;
  size: 10;
}
