.line {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

label {
  float: left;
  width: 25em;
  margin-right: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

label[name="initEndState"] {
  float: left;
  width: 11em;
  margin-right: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}
