.bg {
  background-color: #ececec;
  height: 100%;
  margin: 0;
  border-bottom: solid;
}

h1 {
  font-size: 200%;
  letter-spacing: 1px;
}

.splitScreen {
  display: flex;
}

.topPane {
  width: 50%;
}

.bottomPane {
  width: 50%;
  background-color: black;
}

.inputArea {
  border-top: solid;
  border-left: solid;
  border-right: solid;
}

.visualArea {
  flex-wrap: wrap;
}

.contain {
  margin: 0;
  text-align: center;
  position: relative;
}
